.debug {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}

#homepage
{
  -fx-background-color: #dadada;
  -fx-background-radius: 14px;
}

#toolbar
{
  -fx-background-radius: 14 14 0 0;
}

#exit_B
{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-cursor: hand;
  -fx-background-radius: 14px;
  -fx-padding: 0;
  -fx-background-image: url(img/exitIcon.png);
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#exit_B:hover
{
  -fx-background-color: #FF6666;
}

#exit_B:pressed
{
  -fx-background-color: #FF0000;
}

#minimize_B
{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-cursor: hand;
  -fx-background-radius: 14px;
  -fx-padding: 0;
  -fx-background-image: url(img/minimizeIcon.png);
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#minimize_B:hover
{
  -fx-background-color: #FFB266;
}

#minimize_B:pressed
{
  -fx-background-color: #FF8000;
}