@font-face
{
  src: url("../font/Oswald-Bold.ttf");
}

#name_L
{
  -fx-fill: #dadada;
  -fx-stroke: #000000;
  -fx-stroke-width: 0.7px;
  -fx-font-family: "Oswald";
  -fx-font-weight: bold;
  -fx-font-size: 30px;
}

.detailButton
{
  -fx-background-color: #ffffff;
  -fx-cursor: hand;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border-color: #000000;
  -fx-border-width: 2px;
  -fx-font-family: "Verdana";
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

.detailButton:hover
{
  -fx-border-color: #009900;
}

.titleLabel
{
  -fx-font-family: 'Verdana';
  -fx-font-size: 18px;
  -fx-text-fill: #333333;
  -fx-font-weight: bold;
}

.textLabel
{
  -fx-font-family: 'Verdana';
  -fx-font-size: 16px;
}

.container
{
  -fx-border-color: #000000;
  -fx-border-radius: 5px;
  -fx-background-color: #ffffff;
  -fx-background-radius: 5px;
}

.listContainer_SP
{
  -fx-background-color: transparent;
  -fx-padding: 0; 
  -fx-border-color: transparent;
  -fx-padding: 10px;
}

.listContainer_SP > .viewport
{
  -fx-background-color: transparent;
}

.listContainer_SP .scroll-bar:vertical
{
  -fx-background-color: #ffffff;
  -fx-pref-width: 10px;
}

.listContainer_SP .scroll-bar:vertical .track,
.listContainer_SP .scroll-bar:vertical .track-background
{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.listContainer_SP .scroll-bar:vertical .increment-button,
.listContainer_SP .scroll-bar:vertical .decrement-button,
.listContainer_SP .scroll-bar:vertical .increment-arrow,
.listContainer_SP .scroll-bar:vertical .decrement-arrow
{
  -fx-background-color: transparent;
  -fx-shape: " ";
  -fx-padding: 2px;
  -fx-pref-height: 0px;
}

.listContainer_SP .scroll-bar:vertical .thumb
{
  -fx-background-color: #ffffff;
  -fx-background-radius: 3px;
  -fx-border-color: #009900;
  -fx-border-radius: 3px;
}

.listContainer_SP .scroll-bar:vertical .thumb:hover,
.listContainer_SP .scroll-bar:vertical .thumb:pressed
{
  -fx-background-color: #009900;
}