.textInButtons
{
  -fx-font-family: "Verdana";
  -fx-font-size: 14px;
}

.detailButton
{
  -fx-background-color: #ffffff;
  -fx-cursor: hand;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border-color: #000000;
  -fx-border-width: 2px;
  -fx-font-family: "Verdana";
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

.detailButton:hover
{
  -fx-border-color: #009900;
}

.bookmarkButton
{
  -fx-background-color: transparent;
  -fx-cursor: hand;
  -fx-background-image: url("../img/bookmarkIcon.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 20px 20px;
}

.container
{
  -fx-border-color: #000000;
  -fx-border-radius: 5px;
  -fx-background-color: #ffffff;
  -fx-background-radius: 5px;
}

#listOfRestaurants_VB
{
  -fx-background-color: #ffffff;
  -fx-padding: 15;
}

#listContainer_SP
{
  -fx-background-color: transparent;
  -fx-padding: 0; 
  -fx-border-color: transparent;
}

#listContainer_SP > .viewport
{
  -fx-background-color: transparent;
}

#listContainer_SP .scroll-bar:vertical
{
  -fx-background-color: #ffffff;
  -fx-pref-width: 12px;
}

#listContainer_SP .scroll-bar:vertical .track,
#listContainer_SP .scroll-bar:vertical .track-background
{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

#listContainer_SP .scroll-bar:vertical .increment-button,
#listContainer_SP .scroll-bar:vertical .decrement-button,
#listContainer_SP .scroll-bar:vertical .increment-arrow,
#listContainer_SP .scroll-bar:vertical .decrement-arrow
{
  -fx-background-color: transparent;
  -fx-shape: " ";
  -fx-padding: 2px;
  -fx-pref-height: 0px;
}

#listContainer_SP .scroll-bar:vertical .thumb
{
  -fx-background-color: #ffffff;
  -fx-background-radius: 5px;
  -fx-border-color: #009900;
  -fx-border-radius: 5px;
}

#listContainer_SP .scroll-bar:vertical .thumb:hover,
#listContainer_SP .scroll-bar:vertical .thumb:pressed
{
  -fx-background-color: #009900;
}

@font-face
{
  src: url("../font/Oswald-Bold.ttf");
}

#titleText
{
  -fx-fill: #ffffff;
  -fx-stroke: #000000;
  -fx-stroke-width: 1.5px;
  -fx-font-family: "Oswald";
  -fx-font-weight: bold;
  -fx-font-size: 56px;
}

#luogo_TF
{
  -fx-font-family: "Verdana";
  -fx-font-size: 18px;
  -fx-background-color: #ffffff;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-border-color: black;
  -fx-border-width: 1.3px;
  -fx-padding: 10px;
}

#luogo_TF:focused
{
  -fx-border-color: #009900;
  -fx-border-width: 1.3px;
}

#luogo_TF.errorInput
{
  -fx-border-color: red;
  -fx-border-width: 1.3px;
}

#luogo_TF.errorInput:focused
{
  -fx-border-color: red;
  -fx-border-width: 1.3px;
}